@using PagedList.Mvc;
@using PagedList;
@model IPagedList<ProjectPRNver2._0.EF.Book>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    // define format VND
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
   
}﻿
<h2 style="color: #000">Kết quả tìm kiếm</h2>
<div style="color: #000; font-size: 16px;">@ViewBag.Noice</div>
<div class="container__CATEGORY">
    <div class="row__BOOK">
        @foreach (var item in Model)
        {
            var url = "/chi-tiet/sanpham=" + item.BookId;
            <div class="col_CATEGORY">
                <a href="@url" class="book__item-link">
                    <div class="book__item">
                        <div class="book__item-img" style="background-image: url(/resource/img/@item.imgPath)"></div>
                        <div class="book__item-name">@item.BookName</div>
                        <a href="#" class="book__item-author">@item.Book_Authors.AuthorName</a>
                        <div class="book__item-price">@String.Format(format, "{0:c3}", item.BookPrice) VNĐ</div>
                    </div>
                </a>
            </div>
        }
    </div>
    <div class="paging">
        @Html.PagedListPager(Model, page => Url.Action("SearchResult", new { page = page, @keyword = ViewBag.Tukhoa }))
    </div>
</div>
<style>
    .paging li {
        display: inline;
    }
</style>